In [31]:
import pandas as pd

train = pd.read_csv("/mnt/disks/persist/k400/test.csv", names=["paths", "labels"])
train.head()

                                               paths  labels
0  /data1/hongn/kinetics-dataset/k400/test/G7Lc5P...     388
1  /data1/hongn/kinetics-dataset/k400/test/Q5DKIE...     339
2  /data1/hongn/kinetics-dataset/k400/test/mqfdsA...     127
3  /data1/hongn/kinetics-dataset/k400/test/AXgPGH...      34
4  /data1/hongn/kinetics-dataset/k400/test/Vcgt5G...     146

In [33]:
new_paths = ["/mnt/disks/persist/k400/test/" + path.split('/')[-1] for path in list(train.iloc[:,0])]
# train.iloc[:,0] = new_path
train["paths"] = new_paths
train.head()

                                               paths  labels
0  /mnt/disks/persist/k400/test/G7Lc5PY4KXQ_00014...     388
1  /mnt/disks/persist/k400/test/Q5DKIE1IQEc_00001...     339
2  /mnt/disks/persist/k400/test/mqfdsAP_vfg_00000...     127
3  /mnt/disks/persist/k400/test/AXgPGHknd4Q_00000...      34
4  /mnt/disks/persist/k400/test/Vcgt5GnLXQI_00048...     146

In [34]:
train.to_csv("/mnt/disks/persist/k400/test.csv", header=False, index=False)